.container {
  width: 500px;
  min-height: 350px;
  margin: 30px auto;
  border: 1px solid gray;
  border-radius: 14px;
  padding: 10px;
  background-color: honeydew;
}

.spiner {
  margin-left: 45%;
  margin-top: 25%;
}


@media screen and (max-width: 768px) {
  .spiner {
    margin-left: 35%;
    margin-top: 40%;
  }
  }
